<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:fieldset legend="About" style="margin-bottom:10px">    
            <p:fieldset legend="Ryubi Nicky" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="6">
                    <img src="#{request.contextPath}/resources/images/ryu.jpg" style="width: 100px; height: 150px"/>
                <h:panelGrid columns="3" cellpadding="6">    
                    <h:outputText value="Name" />
                    <h:outputText value=" : " />
                    <h:outputText value="Ryubi Nicky" />
                    <h:outputText value="Age" />
                    <h:outputText value=" : " />
                    <h:outputText value="17" />
                </h:panelGrid>
                </h:panelGrid>
            </p:fieldset>    
                
            <p:fieldset legend="Tresna Nurziyan" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="6">
                    <img src="#{request.contextPath}/resources/images/tresna.jpg" style="width: 100px; height: 150px"/>
                <h:panelGrid columns="3" cellpadding="6">    
                    <h:outputText value="Name" />
                    <h:outputText value=" : " />
                    <h:outputText value="Tresna Nurziyan" />
                    <h:outputText value="Age" />
                    <h:outputText value=" : " />
                    <h:outputText value="17" />
                </h:panelGrid>
                </h:panelGrid> 
            </p:fieldset>
            
            <p:fieldset legend="Wildan Hadiansyah" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="6">
                    <img src="#{request.contextPath}/resources/images/wildan.jpg" style="width: 100px; height: 150px"/>
                <h:panelGrid columns="3" cellpadding="6">    
                    <h:outputText value="Name" />
                    <h:outputText value=" : " />
                    <h:outputText value="Wildan Hardiansyah" />
                    <h:outputText value="Age" />
                    <h:outputText value=" : " />
                    <h:outputText value="17" />
                </h:panelGrid>
                </h:panelGrid> 
            </p:fieldset>
        </p:fieldset>    
            <p:fieldset toggleable="true" toggleSpeed="500" legend="About" style="margin-bottom:20px">
                <p:ajax event="toggle" />
            </p:fieldset>
        </h:form>
    </h:body>
</html>
