<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body >
    <h:form>
            <p:layout fullPage="true" style="background-image: url(#{request.contextPath}/resources/images/donor.jpg)">

                <p:layoutUnit position="north" size="50" closable="true" collapsible="true">
                    Header
                </p:layoutUnit>

                <p:layoutUnit position="south" size="50" closable="true" collapsible="true">
                    Copyright &copy; AbsenAkhir
                </p:layoutUnit>

                <p:layoutUnit position="west" size="400" maxSize="500" minSize="200" resizable="true">
                    <p:accordionPanel>
              
                        <p:tab title="calendar">
                            <p:calendar id="inline" mode="inline" />
                        </p:tab>
                        
                        <p:tab title="Menu">
                            <p:menu>
                                <p:submenu label="Resources">
                                    <p:menuitem value="Home" url="" />
                                    <p:menuitem value="Stok Darah" url="" />
                                    <p:menuitem value="Jadwal Kegiatan Donor" url="" />
                                    <p:menuitem value="Info Lokasi" url="" />
                                    <p:menuitem value="Informasi" url="" />
                                    <p:menuitem value="About" url="" />
                                </p:submenu>
                            </p:menu>
                        </p:tab>
    
                    </p:accordionPanel>
                </p:layoutUnit>
                
                <p:layoutUnit position="center">
					<ui:insert name="content"></ui:insert>
                    <h3 style="margin-top: 0">Images</h3>
                        <p:lightBox styleClass="imagebox" id="lighbox1">  
                            <h:outputLink value="#{request.contextPath}/resources/images/ryu.jpg" title="Contoh 1">  
                                <img src="#{request.contextPath}/resources/images/ryu.jpg" style="width: 100px; height: 150px"/>  
                            </h:outputLink>
 
                            <h:outputLink value="#{request.contextPath}/resources/images/tresna.jpg" title="Contoh 2">  
                                <img src="#{request.contextPath}/resources/images/tresna.jpg" style="width: 100px; height: 150px"/>  
                            </h:outputLink>
 
                            <h:outputLink value="#{request.contextPath}/resources/images/wildan.jpg" title="Contoh 3">  
                                <img src="#{request.contextPath}/resources/images/wildan.jpg" style="width: 100px; height: 150px"/>  
                            </h:outputLink>
 
                            <h:outputLink value="#{request.contextPath}/resources/images/donor.jpg" title="Contoh 4">  
                                <img src="#{request.contextPath}/resources/images/donor.jpg" style="width: 100px; height: 150px"/>  
                            </h:outputLink>
                        </p:lightBox>
                </p:layoutUnit>

            </p:layout>
         </h:form>
        </h:body>
</html>