<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
   <h:head>
        <title>Facelet Title</title>
    </h:head>
   <h:body>
        <h:form>
          <p:accordionPanel>
            <p:tab title="Manfaat Donor Darah">
            <h:panelGrid columns="2" cellpadding="5">
                Mendonorkan darah bukan hanya bukti bahwa Anda peduli terhadap sesama, tetapi mendonorkan
                darah  adalah upaya anda untuk hidup sehat. Berikut adalah manfaat donor darah
                    <p>1. Menurukan berat badan</p> 
                    <p>2. Melindungi jantung</p> 
                    <p>3. Meningkatkan sel darah merah</p> 
                    <p>4. Mencegah stroke</p>
                    <p>5. Meningkatkan kesehatan psikologis</p> 
                    <p>6. Memperbarui sel darah baru</p> 
                    <p>7. Mencegah resiko terkena penyakit langka</p>
                    <p>8. Menurunkan resiko kanker</p> 
                    <p>9. Meningkatkan produksi darah</p> 
                    <p>10. Pikiran menjadi lebih stabil</p> 
                    <p>11. Menurunkan kolesterol</p>
            </h:panelGrid>
            </p:tab>
           <p:tab title="Syarat Donor Darah">
            <h:panelGrid columns="2" cellpadding="5">
                    <p>1. Sehat</p> 
                    <p>2. Usia 17 > 60</p> 
                    <p>3. Berat badan minimum untuk donasi 350 ml, dan 50 kg untuk donasi 450 ml</p> 
                    <p>4. Tekanan darah sistolik 110-160 mmHg</p>
                    <p>5. Tekanan darah diastolik 70-100 mmHg</p> 
                    <p>6. Hb min 12,5 gr/dl</p> 
                    <p>7. Bagi wanita tidak sedang hadi, hamil, menyusui</p>
                    <p>8. Interval donor darah setiap 3 bulan (70 hari) sekali</p> 
                    <p>9. Tiga hari terakhir tidak mengkonsumsi obat yang mengandung salsilat</p> 
                    <p>10. Tidak mempunyai penyakit berat (Jantung, hati, ginjal dll)</p> 
                    <p>11. Tidak mendapat imunisasi virus dilemahkan dalam waktu 2 minggu</p>
            </h:panelGrid>
            </p:tab>        
            <p:tab title="Tentang Aplikasi">
            <h:panelGrid columns="2" cellpadding="5">
                    <p> Aplikasi ini memudahkan anda mengetahui lokasi dari mobile blood dan 
                        mengetahui tentang donor darah</p> 
            </h:panelGrid>
            </p:tab>  
          </p:accordionPanel>      
        </h:form>    
    </h:body>
</html>
