<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyAySZmZwZEOCs9ne39bNj02FVz678D8R2U" type="text/javascript"></script>
    </h:head>
    <h:body>
        <h:form>
			<div style="height: 954px">
				<div id="map" style="width: 100%;
					 height: 80%;
					 position: fixed;
					 display: inline-flex;
					 "/>	
			</div>
        </h:form>
		<script type="text/javascript" src="/MobileBloodTA/resources/js/infolokasi.js"></script>
		<script type="text/javascript" src="/MobileBloodTA/resources/js/lib/jquery-2.1.1.min.js"></script>
		<script type="text/javascript">
					$(function () {
						onLoad();
					});
		</script>
    </h:body>
</html>
