<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       <h:form>

                    <p:dataTable id="jadwalMB" var="mobile" value="#{dtjadwalMB.mobile}">
                        <f:facet name="header">
                            Jadwal Kegiatan Donor Darah
                        </f:facet>
                        <p:column headerText="Id">
                            <h:outputText value="#{mobile.id}" />
                        </p:column>
                        <p:column headerText="Nama Kegiatan">
                            <h:outputText value="#{mobile.nama}" />
                        </p:column>
                        <p:column headerText="Tanggal Kegiatan">
                            <h:outputText value="#{mobile.tgl}" />
                        </p:column>
                        <p:column headerText="Hari">
                            <h:outputText value="#{mobile.hari}" />
                        </p:column>
                        <p:column headerText="Tempat Kegiatan">
                            <h:outputText value="#{mobile.tempat}" />
                        </p:column>
                    </p:dataTable>                       
       </h:form>
    </h:body>    
</html>
