<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
             xmlns:h="http://xmlns.jcp.org/jsf/html"
             xmlns:f="http://java.sun.com/jsf/core"
             xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       <h:form id="form">
            <p:dataTable id="stok" var="darah" value="#{dtstokdarah.darah}">
                <f:facet name="header">
                Stok Darah
                </f:facet>
                <p:column headerText="Id">
                    <h:outputText value="#{darah.id}" />
                </p:column>
                <p:column headerText="Golongan Darah A">
                    <h:outputText value="#{darah.a}" />
                </p:column>
                <p:column headerText="Golongan Darah B">
                    <h:outputText value="#{mobile.b}" />
                </p:column>
                <p:column headerText="Golongan Darah AB">
                    <h:outputText value="#{darah.ab}" />
                </p:column>
                <p:column headerText="Golongan darah O">
                    <h:outputText value="#{darah.o}" />
                </p:column>
            </p:dataTable>                    
       </h:form>
    </h:body>    
</html>
